.assignment-title {
  padding: 32px;
  margin-bottom: 0;
}

.header-aside {
  gap: 18px 0;
  min-height: 800px;
  a {
    font-weight: 700;
  }
}

.active-item {
  border-left: 4px solid $main-color;
  a {
    color: $main-color;
  }
}

.header {
  span {
    padding-right: 16px;
  }
  ul {
    margin-bottom: 0;
  }

  li {
    a:hover {
      background-color: rgba(128, 128, 128, 0.533);
      color: inherit;
    }
  }
  div {
    img {
      //   vertical-align: middle;
      margin-right: 16px;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    section {
      p {
        line-height: 19px;
        margin-bottom: 0;
      }
      a {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
