//Assignment
.hover-style {
  li:hover {
    background-color: #f8f9fa;
  }
  .active-item {
    background-color: #f8f9fa;
  }
}

.card-header {
  background-color: #f8f9fa;
}

.line {
  margin: 15px 32px 18px 64px;
  border-bottom: 1px solid #ced4da;
}
