$gray: (
  "100": #f8f9fa,
  "400": #ced4da,
  "600": #6c757d,
  "900": #212529,
);

$main-color: #198754;

@each $name, $color in $gray {
  .gray-#{$name} {
    color: $color !important;
  }
  .bc-gray-#{$name} {
    background-color: $color !important;
  }
}
